<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BlooDiscounts</title>
    <p class="notice"></p>
    <p class="alert"></p>
  </head>
    <body>
      <div align="center">
        <h1>Cadastrar Loja</h1>
        <%= render 'form', store: @store %>
      </div>
    </body>
  </body>
</html>