<!DOCTYPE html>
<html>
<head>
  <title>BlooDiscounts</title>

  <!-- <meta name="csrf-param" content="authenticity_token" /> -->
  <meta name="csrf-token" content="OITqA3U3MP/1uvoroS3VAUUyopjU0hjeofgWKDHaGaPveAJuk5VzeXJgozr/fN9JonuBF/s82pzVNfLeeGRriw==" />
  <link rel="stylesheet" media="all" href="/assets/pages.self-e72f4063c094a96fa20002498b1f0b71f4c7c75633f4bb4a4db4e8aa8ea1139d.css?body=1" data-turbolinks-track="reload" />
  <link rel="stylesheet" media="all" href="/assets/user.self-e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855.css?body=1" data-turbolinks-track="reload" />
  <link rel="stylesheet" media="all" href="/assets/application.self-c511e448a9660b417523565dfe1dedc0d91c08d6ef362990c8442be3f86095d9.css?body=1" data-turbolinks-track="reload" />
  <script src="/packs/js/application-05bc83490fcade04d051.js" data-turbolinks-track="reload"></script>
</head>

<body>
  <p class="notice"></p>
  <p class="alert"></p>

  <!DOCTYPE html>
  <html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BlooDiscounts</title>
  </head>

  <body>
    <div align="center">

      <h1> BlooDiscounts </h1>

      <div class="img-logo">
        <img src="/assets/logo-78c5fc74051f0f7f9b054f2e8c483325cd24b1cb3034222b6ef9d8708c4fe3d2.png" />

        <h3>Cadastro de Recompensa</h3>

      </div>

      <%= render 'form', reward: @reward %>

    </div>
  </body>
  </html>
  <a href="/users/sign_in">Log in</a><br />
</body>
</html>
