<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>BlooDiscounts</title>
  <p class="notice"></p>
  <p class="alert"></p>
</head>

<body>
  <div align="center">
    <h1>Cadastro de Recompensa</h1>
    

    
    
    
    <%= button_to "Adicionar outro item" %>
    
    <%= render 'form', reward: @reward %>
  </div>
</body>
</html>
