<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BlooDiscounts</title>
</head>

<body>
    <div>
        <p>
            <div align="center">
                <p>
                	<div>
                		<h1> BlooDiscounts </h1>
                	</div>
                    <div class="img-logo">
                        <!-- <a href="index.html"> -->
                        	<!-- <img src="logo.png" alt="logo"> -->
                        	<%= image_tag "logo.png" %>    
                        <!-- </a> -->
                    </div>
                    <br />
                    <br />
                    <div>
                        <a href="cadastro.html">
                        	<button><h2>Cadastrar</h2></button>
                        </a>
                    </div>
                    <br />
                    <br />
                    <div>
                    	<a>Já possui cadastro? </a>
                    	<a href="login.html">Entre aqui.</a>
    				</div>
                 </p>   
            </div>
        </p>
    </div>
</body>
</html>