<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BlooDiscounts</title>
</head>
<body>
    <div align="center">
        <h1> BlooDiscounts </h1>
        <div class="img-logo">
            <%= image_tag "logo.png" %>
        </div>
        <br/>
        <br/>
        <button onclick="window.location ='<%=  new_user_registration_path %>'" class = "btn btn-danger edit-btn-danger btn-medium">
            Cadastrar
          </button>
      <!--  <%= button_to "Cadastrar", new_user_registration_path, :class => "btn btn-danger edit-btn-danger btn-medium", :method => :get %> -->
        <br/>
        <a>Já possui cadastro? </a>
        <br/>
      <%= link_to  "Entre aqui", new_user_session_path, class: "btn btn-danger edit-btn-danger"%>
    </div>
</body>
</html>
