<div align="center">
  <h1>Editing Donation</h1>

  <%= render 'form', donation: @donation %>

  <%= link_to 'Show', @donation, class: "btn btn-danger edit-btn-danger btn-medium" %>
  <br/>
  <%= link_to raw('<span class="oi oi-arrow-left"></span>Back'), donations_path, class: "btn btn-danger edit-btn-danger" %>
</div>
