<div align="center">
	<h1>Editing Hospital</h1>

	<%= render 'form', hospital: @hospital %>

	<hr>
	<%= link_to 'Mostrar', @hospital, class: "btn btn-danger edit-btn-danger btn-medium" %>
	<br/>
	<%= link_to raw('<span class="oi oi-arrow-left"></span>Voltar'), hospitals_path,
				:class => "btn btn-danger edit-btn-danger" %>

</div>
