<div align="center">
	<h1>New Hospital</h1>

	<%= render 'form', hospital: @hospital %>
	<hr>
	<%= link_to raw('<span class="oi oi-arrow-left"></span>Back'), hospitals_path, class: "btn btn-danger edit-btn-danger" %>
</div>
