<html lang="en">

<head>
  <%= render "head" %>
</head>

<body>
  <%= render "body" %>


  <!-- <form >
    <div class="row">
      <div class="form-group col-md-3">
        <label for="input_nome">Nome: *</label>
        <input type="text" id="input_nome" class="form-control" placeholder="Nome">
      </div>

      <div class="form-group col-md-3">
        <label for="input_nome">Sobrenome: *</label>
        <input type="text" id="input_sobrenome" class="form-control" placeholder="Nome">
      </div>

      <div class="form-group col-md-3">
        <label for="input_nome">Data de Nascimento: *</label>
        <input type="text" id="input_data_nascimento" class="form-control" placeholder="Nome">
      </div>

      <div class="form-group col-md-3">
        <label for="input_nome">Peso: *</label>
        <input type="text" id="input_peso" class="form-control" placeholder="Nome">
      </div>

      <div class="form-group col-md-3">
        <label for="input_nome">Altura: *</label>
        <input type="text" id="input_altura" class="form-control" placeholder="Nome">
      </div>

      <div class="form-group col-md-3">
        <label for="input_nome">País: *</label>
        <input type="text" id="input_pais" class="form-control" placeholder="Nome">
      </div>

      <div class="form-group col-md-3">
        <label for="input_nome">Estado: *</label>
        <input type="text" id="input_estado" class="form-control" placeholder="Nome">
      </div>

      <div class="form-group col-md-3">
        <label for="input_nome">Cidade: *</label>
        <input type="text" id="input_cidade" class="form-control" placeholder="Nome">
      </div>

      <div class="form-group col-md-3">
        <label for="input_nome">Tipo Sanguíneo: *</label>
        <select id="input_tipo_sangue" class="form-control">
            <option value="1">A+</option>
            <option value="2">A-</option>
            <option value="3">B+</option>
            <option value="4">B-</option>
            <option value="5">AB+</option>
            <option value="6">AB-</option>
            <option value="7">O+</option>
            <option value="8">O-</option>
          </select>
      </div>

      <div class="form-group col-md-3">
        <input type="submit" formaction="salva_edit" formmethod="post" id="btn_salvar" class="btn btn-danger form-control" value="Salvar">
      </div>
  </div>
  </form> -->
</body>
