<html lang="en">

<head>
  <%= render "head" %>
</head>

<body>
  <%= render "body" %>

  <form action="/salva_edit">
    <div class="row">
      <div class="form-group col-md-6">
        <label for="input_nome">Nome: *</label>
        <input type="text" id="input_nome" class="form-control" placeholder="Nome">
      </div>

      <div class="form-group col-md-6">
        <label for="input_nome">Sobrenome: *</label>
        <input type="text" id="input_sobrenome" class="form-control" placeholder="Nome">
      </div>

      <div class="form-group col-md-6">
        <label for="input_nome">Data de Nascimento: *</label>
        <input type="text" id="input_data_nascimento" class="form-control" placeholder="Nome">
      </div>

      <div class="form-group col-md-6">
        <label for="input_nome">Peso: *</label>
        <input type="text" id="input_peso" class="form-control" placeholder="Nome">
      </div>
  </div>
  </form>
</body>
