<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BlooDiscounts</title>
</head>
<body>
    <div align="center">
        <h1> BlooDiscounts </h1>
        <div class="img-logo">
            <%= image_tag "logo.png" %>
        </div>
        <br/>
        <br/>
        <% if current_user %>
            <p>Você tem <%= current_user.points %> pontos.</p>
            <br/>
            <br/>
        <% end %>
        <%= link_to raw('<span class="oi oi-arrow-left"></span>Voltar'), user_profile_path,
          :class => "btn btn-danger edit-btn-danger" %>

    </div>
</body>
</html>
