/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(https://fonts.googleapis.com/css?family=Rubik&display=swap);
$rubik: 'Rubik', sans-serif;

body{
	 /*I think that not using a wallpaper works better */
    /*background-image: url(backg.png); */
    /*background-position: 90px 0px;*/
}

.img-logo img{
    width: 200px;
    height: 200px;
    margin-top: 10px;
}

.custom-button{
    display: inline-block;
    background-color: #FF0000;
    border: none;
    color: white;
    border-radius: 12px;
    width: 300px;
    height: 50px;
    text-align: center;
    font-family: $rubik;
    font-size: 20px;
}

/* RIpple effect */
.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: #ff6969 radial-gradient(circle, transparent 1%, #ff6969 1%) center/15000%;
}
.ripple:active {
  background-color: #ffa3a3;
  background-size: 100%;
  transition: background 0s;
}