<!doctype html>
<html lang="pt-br">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BlooDiscounts</title>
    <!-- style CSS -->
</head>

<body>
    <header class="tela_inicial">
        <div>
            <div align="center">
                <div>
                    <h1> BlooDiscounts </h1>
                </div>
                <div class="col-lg-12">
                        <a class="navbar-brand" href="index.html"><img src="img/logo.jpg" alt="logo"> </a>
                </div>
                
                <form name="dados_login" method="post" id="formulario">
                    <div align="center">
                        <p>
                            <div class="box"> 
                                <h1>Cadastro</h1>
                                <label>
                                    <span>Nome</span>
                                    <input type="text" class="input_text" name="nome" id="nome"/>
                                </label>
                                <br />
                                <br />
                                <label>
                                    <span>Email</span>
                                    <input type="text" class="input_text" name="email" id="email"/>
                                </label>
                                <br />
                                <br />
                                <label>
                                    <span>Senha</span>
                                    <input type="text" class="input_text" name="senha" id="senha"/>
                                </label>
                                <br />
                                <br />                          
                                <label>
                                    <input type="button" class="button" value="Enviar" />
                                </label>           
                            </div>
                        </p>
                    </div>    
                </form> 
            </div>
        </div>
    </header>
</body>
</html>