<!doctype html>
<html lang="pt-br">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BlooDiscounts</title>
    <!-- style CSS -->
</head>

<body>
    <header class="tela_inicial">
        <div>
            <div align="center">
                <div>
                    <h1> BlooDiscounts </h1>
                </div>
                <div class="col-lg-12">
                        <a class="navbar-brand" href="index.html"><img src="img/logo.jpg" alt="logo"> </a>
                </div>
                <div class="botao_usuario">
                <a href="dadosUsuario.html">
                    <button><h2>Entrar com usuário</h2></button></a>
                </div>

                <div class="botao_adm">
                    <a href="dadosUsuario.html">
                      <button><h2>Entrar como admnistrador</h2></button></a>
                </div>   
            </div>
        </div>
    </header>
</body>
</html>


